* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-position: bottom;
  background-color: #4459fe;
  text-align: center;
  overflow: hidden;
  transition: 0.4 ease-out;
}

#new-todo-submitbtn {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: #ffb3b3;
  border-color: #ffdcf7;
  outline: none;
  right: 1%;
}

#new-todo-submitbtn i {
  font-size: 2em;
  position: relative;
  top: 2px;
  color: white;
}